/*this is
 a comme!*/

 /*CSS Syntax
selector {
  property: value;
  property: value;
}
 */

 /*Type Selector*/

p {  /* select all <p> */
font-size: 1em
line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  line-height: Georgia, "New Times Roman", serif;
  font: normal 0.75/1.5em Georgia, "New Times Roman", serif;
  color: #000000;
}
